{% extends "base.html" %}

{% block content %}

  <style type="text/css">
    body {
      padding-top: 70px;
    }
  </style>

  <div class="container">
    <div class="jumbotron">
      <h1>Tutorial Django - Parte 2</h1>
      <h2>Explorando o ORM do Django (modelagem de dados) + Criando sua própria fixtures</h2>
      <p>Grupy apresentado dia 24/10/15.</p>
      <p><a href="http://www.meetup.com/pt/Grupy-SP/events/225100888/">Encontro GruPy-SP + InteropMIX de Outubro</a></p>
      <p><a href="https://github.com/grupy-sp/encontros">GitHub.com/grupy-sp/encontros</a></p>
    </div>
  </div>
{% endblock content %}
